<div class='container'>
	<h1>About Brewklok</h1>
	<p>(It's freaking awesome!)</p>
	<p>Brewing beer is a great process. A lot of creativity and planning goes into every brew. However, if you're not careful it's easy to stray from your original recipe. The result will still undoubtedly taste great, but may not be what you were aiming for.</p>
	<p>Brewklok helps you create and organize recipes, but more importantly runs a live timer for your recipe that keeps you on track by reminding you when to remove and add ingredients. Never miss an ingredient again!</p>
	
	<p><a href='<%= recipe_url(2)%>'> Test out a brew in demo or live mode</a></p>
	<p>This project was also created as a final project for App Academy by <a href="http://fadetoproductions.com">Ryan von Kunes Newton</a>. The technologies used were Ruby on Rails and heavy amounts of Javascript. <a href="https://github.com/newtonry/Brewklok">Here's the GitHub repo</a>!</p>

	<div class='row'>
		<img src="/assets/full-logo-transp.png" class="col-md-12" id='about-logo'></img>
	</div>
</div>
