<div class="jumbotron" id="front-page-jumbo">
	<div class='jumbotron-info col-md-12'>
	  <h1>Welcome to Brewklok!</h1>
	  <p>Ready to brew some beer?</p>
	  <p><a href="<%= about_url %>" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	</div>
</div>

<div class='container'>
	<h2>Recent Brews</h2>
	<% @recipes.each do |recipe| %>
		<h4><a href="<%= recipe_url(recipe) %>"><%= recipe.name %></a></h4>
		<p><%= recipe.notes %></p>

	<% end %>
</div>