<ul class="nav nav-pills" >
	<li class="dropdown" style="width: 50%">
    <a class="dropdown-toggle" data-toggle="dropdown" id="mode-dropdown" href="#">
      Demo Mode <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Demo Mode (1s = 1m)</a></li>
      <li><a href="#">Brew Mode (real time)</a></li>
		</ul>
	</li>
</ul>