<h2>Brew Recipes</h2>
	<% @recipes.each do |recipe| %>
		<ul><%= recipe.name %>
		<% recipe.ingredients.each do |ingredient| %>
			<li><%= ingredient.name %> - at <%= ingredient.time %> min</li>
		<% end %>
		</ul>
	<% end %>