<div class='container'>
	<% if !logged_in? %>
		<div class='.row'>		
			<p>Please <a href='<%= new_session_url %>'>login</a> to add recipes</p>
		</div>
	<% end%>
	
	<div class="col-md-6">
		<form action="<%= recipes_url %>" method="POST" role="form" id='recipe-form'>
			<%= render partial: 'shared/auth_token'%>

			<h2>Brew Details</h2>
		  <div class="form-group">
				<label for="recipe_name">Brew name: </label>
				<input class="form-control" type="text" name="recipe[name]" value="" id="recipe_name">
				<br>
			</div>
			<h2>Ingredients <button class="btn btn-default"  onClick="addIngredientForm();return false;">+</button></h2>
			<p><input class="btn btn-success" type="submit" value="Submit Recipe" id="submit_recipe"></p>
		</form>
	</div>
</div>

<script>
	var ingredientId = 0;
	addIngredientForm();
	<% if !logged_in? %>
		$('#submit_recipe').prop('disabled', true)
	<% end%>
	//should use a JST template later
	//refers to templates/ingredient_form.js variable
</script>
