<div class='container'>
	<div class="jumbotron">
		<div class='row'><div class='col-md-3'></div>
		  <p class='col-md-6'>
				<a class="btn btn-success btn-lg center-block start-button" onClick="bh.start('#display-timer', recipe);" role="button">Start Timer</a>
			<a class="btn btn-info btn-lg center-block pause-button" onClick="bh.pause();" role="button" style='display: none;'>Pause</a>
			<a class="btn btn-success btn-lg center-block unpause-button" onClick="bh.unpause();" role="button" style='display: none;'>Resume</a>
			</p>
			<div class='col-md-3'></div>
		</div>

			<div class='row'>
			<h1 id="display-timer" class="text-center">00:00:00</h1>
		</div>
	</div>

	<div class="row" style="text-align: center">
	  <div class="col-md-3" id="pastIngredients"><h2>Past</h2></div>
	  <div class="col-md-6" id="currentIngredients"><h2>Current</h2></div>
	  <div class="col-md-3" id="futureIngredients"><h2>Future</h2></div>
	</div>
	
	<script>
		var bh;
		var recipe;
		loadRecipe(<%= @recipe.id %>, "../", function(resp){ 
			recipe = resp; 
			bh = new BrewHandler(recipe);
			bh.fillFuture();
		});
	</script>
</div>