<div class="jumbotron">
  <p><a class="btn btn btn-success btn-lg center-block" onClick="bh.start('#display-timer', recipe);" role="button">Start Timer</a></p>
	<h1 id="display-timer" class="text-center">00:00:00</h1>
</div>

<ul id='instruction-list'>Instruction List</ul>
<!-- <p></p> -->

<script>
// debugger
var bh = new BrewHandler();
var recipe;
loadRecipe(<%= @recipe.id %>, function(resp){ recipe = resp; });

</script>