<button onClick="bh.start('#display-timer', recipe);">Start Timer</button>
<h1 id='display-timer'>00:00:00</h1>
<ul id='instruction-list'>Instruction List</ul>
<!-- <p></p> -->

<script>
// debugger
var bh = new BrewHandler();
var recipe;
loadRecipe(<%= @recipe.id %>, function(resp){ recipe = resp; });

// t.timeNow();
// t.updateElement("#display-timer");
// <%= @recipe.to_json %>);
// var recipe = (<%= @recipe.to_json.html_safe %>);
// var ingredients = (<%= @ingredients.to_json.html_safe %>)
</script>