<button onClick="t.timeDifference();">Time diff</button>
<h1 id='display-timer'>Timer</h1>

<script>
// debugger
var t = new Timer;
// t.timeNow();
// t.updateElement("#display-timer");
t.start("#display-timer");
</script>


