<div class='container'>
	<div class='row'>
		<div class="col-md-6"><h2><%= @recipe.name %></h2>
			<% if !@recipe.notes.nil? %>
				<p><%= @recipe.notes %></p>
			<% end %>			
		</div>
		<div class="col-md-3"><h1 class='show-clock-text' id='clock'>00:00:00</h1></div>
		<div class="col-md-3">
			<%= render partial: "recipes/mode_dropdown"%>
			<h1><button class="btn btn-warning" id='brew-action-button'>Begin Brew!</button></h1>
		</div>
	</div>
	<div id='graph-container' class='container'>
		<div id='graph'>			
		</div>
	</div>

	<div class='row'>
	<h3>Ingredients
		<%= render partial: 'recipes/display_edit_buttons' %>
	</div>

	<table class="table" id="ingredient-table">
		<thead>
			<tr>
				<th>Time</th>
				<th>Ingredient</th>
				<th>Amount</th>
				<th>Notes</th>
			</tr>
		</thead>

		<tbody id="ingredient-table-body">
			<% @recipe.ingredients.each do |ingredient| %>
			<tr class='ingredient-listing future' data-ingredientId="<%= ingredient.id %>">
				<td class='ingredient-attr ingredient-time'><%= ingredient.time %></td>
				<td class='ingredient-attr ingredient-name'><%= ingredient.name %></td>
				<td class='ingredient-attr ingredient-amount'><%= ingredient.amount %></td>
				<td class='ingredient-attr ingredient-notes'><%= ingredient.notes %></td>
			</tr>
	
			<script>
				addToGraph(<%= ingredient.id %>, 
											"<%= ingredient.name %>", 
											<%= ingredient.time %>, 
											<%= @recipe.ingredients.last.time + 5 %>);											
				addChangeListeners(<%= ingredient.id %>);
			</script>
			<% end %>
		</tbody>	
	</table>
</div>
	<script>
	var bh;
	var recipe;
		loadRecipe(<%= @recipe.id %>, "./", function(resp){ 
			recipe = resp; 
			recipe.totalTime = recipe.ingredients[recipe.ingredients.length-1].time + 5;
			bh = new BrewHandler(recipe);
			bh.fillFuture();
			
			addGrid(recipe.totalTime);
		});
		
	addProgressBar();
	$("#mode-dropdown").dropdown();
	bindBrewActionHandler($('#brew-action-button'));	
	</script>