<%= render partial: 'shared/auth_token' %>
<div class="row">
	<div class="input-group col-xs-6">
	  <span class="input-group-addon login-input">Username</span>
		<input class="form-control" type="text" name="user[username]" value="" id="user_username" placeholder="username">
	</div>
</div>
	<div class="row">
	<div class="input-group col-xs-6">
	  <span class="input-group-addon login-input">Password</span>
		<input class="form-control" type="password" name="user[password]" value="" id="user_password" placeholder="password">
	</div>
</div>