/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= requirejquery-ui-1.10.3.custom.css
 *= require_self
 */

h1, h2, h3, h4 {
	letter-spacing: .5px;	
}

#about-logo {
	width: 25%;
	margin-top: 5%;
}

#brew-action-button {
	width: 50%;	
}

#clock {
	font-size: 5em;
}

#display-timer {
	font-size: 100px;
}

#front-page-jumbo {
	background: url('/assets/beer1-narrow.png');
	background-repeat:no-repeat;
	color: white;
	margin-top: -20px;
}

#futureIngredients .details {
	display: none;	
}

#graph-container {
	background-color: rgba(255, 255, 255, .5);
	padding: 15px;
	border: 1px;
	border-style:solid;
	border-color: black;
}

#graph-grid-slider {
	border: none;
	height: 25px;	
}

#graph-grid-slider .ui-slider-handle {
	background: none;
	border: none;
}

#index-logo {
	width: 100%;
}

#nav-img {
	height:25px;
	float: left;
}

#pastIngredients .details {
	display: none;
}

#save-button {
	display: none;
}

#cancel-save-button {
	display: none;
}

#alert-message {
	position: absolute;
	width: 100%;
	height: 56px;
	display: none;
}

.btn {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.graph-ingredient-name {
	font-size: 80%;
}

.highlighted-table{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 15px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 15px rgba(102, 175, 233, 0.6);
}

.ingredient-slider {
	border: none;
	height: 25px;
}

.future {
	background-color: none;
}

.current {
	background-color: rgba(0, 255, 0, 0.2);
}

.login-input {
	width: 25%;
}

.past {
	background-color: rgba(100, 100, 100, 0.2);
}

.progress-bar {
	left: 0%;
	margin-top: -15px;
	background: rgba(238, 200, 54, 0.2);
	position:absolute;
	border: 0px;
}

.ui-slider {
	background: none;
}

.ui-slider-handle:focus {
	outline: 0;
}

.ingredient-done-handle {
	background: url('/assets/brewklok-circle-sm.png');
}

.jumbotron-info {
	background-color: rgba(50,50,50,0.6);
	padding: 2%;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.jumbotron-info h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 0px;
}