/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#display-timer {
	font-size: 100px;
}

#save-button {
	display: none;	
}

#front-page-jumbo {
	background: url('/assets/beer1-narrow.png');
	color: white;
	margin-top: -20px;
}


#futureIngredients .details {
	display: none;	
}
#pastIngredients .details {
	display: none;	
}

.jumbotron-info {
	background-color: rgba(50,50,50,0.5);
}

.highlighted-table{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 15px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 15px rgba(102, 175, 233, 0.6);
}

/*.attr-editable {
}

.start-button {
		
}
*/
