/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= requirejquery-ui-1.10.3.custom.css
 *= require_self
 */

#display-timer {
	font-size: 100px;
}

#front-page-jumbo {
	background: url('/assets/beer1-narrow.png');
	color: white;
	margin-top: -20px;
}

#futureIngredients .details {
	display: none;	
}

#graph-container {
	background-color: rgba(255, 255, 255, .9);
	padding: 15px;
	border: 1px;
	border-style:solid;
	border-color: black;
}

#pastIngredients .details {
	display: none;
}

#save-button {
	display: none;
}

#cancel-save-button {
	display: none;
}

.highlighted-table{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 15px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 15px rgba(102, 175, 233, 0.6);
}

.ingredient-slider {
	border: none;
	height: 25px;
}


.ui-slider {
	background: none;
}

.jumbotron-info {
	background-color: rgba(50,50,50,0.5);
}